<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>


<body>
<div layout:fragment="content">
	<div id="container">
		<h1>글 작성</h1>
		<form action="/eleboard/eleboardInsert" method="post"
			  enctype="multipart/form-data" th:object="${insertEleBoardCommand}">
		<!-- 
	  	enctype="multipart/form-data": 파일 업로드(<input type="file">)가 포함된 폼에서 반드시 설정해야 하는 인코딩 타입입니다.
	  	th:object="${insertBoardCommand}": Thymeleaf의 핵심 기능입니다. 
	  	서버(컨트롤러)에서 model.addAttribute("insertBoardCommand", ...)로 전달해 준 
	  	DTO(또는 Command 객체)를 이 폼 전체와 연결(바인딩)합니다.
	  	-->
	  	
	  	<input type="hidden" name="id" th:value="${session.mdto.id}"/>
	  	
	  	<table class="table">
	  		<tr>
	  			<th>작성자[ID]</th>
	  			<td th:text="${session.mdto.id}" ></td>
	  		</tr>
	  		
	  		<tr>
	  			<th>제목</th>
	  			<td>
	  				<input type="text" name="title" th:field="*{title}" class="form-control"/>
	  				<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
	  			</td>
	  		</tr>
	  		
	  		<tr>
	  			<th>파일</th>
	  			<td>
	  				<input type="file" name="elefilename" multiple="multiple" class="form-control" /><br>
	  			</td>
	  		</tr>
	  		
	  		<tr>
	  			<th>내용</th>
	  			<td>
	  				<textarea rows="10" cols="60" name="content" th:field="*{content}"
	  							class="form-control"></textarea>
	  				<span th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span>
	  			</td>
	  		</tr>
	  		
	  		<tr>
	  			<td colspan="2">
	  				<button type="submit" class="btn">등록</button>
	  				<button type="button" class="btn"
	  						th:onclick="|location.href='@{/eleboard/eleboardList}'|">목록</button>
	  			</td>
	  		</tr>
	  		
	  	</table>
		</form>
	</div>
</div>



</body>
</html>