<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">

</script>
<style type="text/css">

</style>
</head>
<body>
<div layout:fragment="content">
<div id="container">
<h1>HOME</h1>
<th:block th:if="${session.mdto==null}">
	<p>
		<a href="/user/login">SignIn</a><br><br>
		<a href="/user/addUser">SignUp</a>
	</p>
</th:block>

<th:block th:unless="${session.mdto==null}">
	<p>
		<span th:text="${session.mdto.role}"></span>
		<span th:text="${session.mdto.id}"></span><br>
		<a href="/user/logout">로그아웃</a>
	</p>
</th:block>

	<p><a href="/board/boardList">자유 게시판</a></p>
	<p><a href="/eleboard/eleboardList" >번개 게시판</a></p>
	
	<h1>일정관리 HOME</h1>
	<a th:href="@{/schedule/calendar}">일정보기</a>
</div>
</div>
</body>
</html>







